@page
@model Presentacion.Pages.Servicio.CrearModel
@{ViewData["Title"]="Crear Servicio";
}

<h1>Crear</h1>
<h4>Servicio</h4>
<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">  @* Clase CSS  *@
    <hr />
    <div class="row">  @*  Clase CSS Para manejo de filas *@
        <div class=col-md-4>   @*  Clase CSS Para manejo de Columnas *@
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">   </div>
                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Servicio.Nombre" class="control-label">  </label>
                    <input asp-for="Servicio.Nombre" class="form-control"/>
                    <span asp-validation-for="Servicio.Nombre" class="text-danger"></span>

                </div>

                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Servicio.MaxMigrantes" class="control-label">  </label>
                    <input asp-for="Servicio.MaxMigrantes" class="form-control"/>
                    <span asp-validation-for="Servicio.MaxMigrantes" class="text-danger"></span>

                </div>

                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Servicio.FechaInicio" class="control-label">  </label>
                    <input asp-for="Servicio.FechaInicio" class="form-control"/>
                    <span asp-validation-for="Servicio.FechaInicio" class="text-danger"></span>

                </div>

                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Servicio.FechaFinal" class="control-label">  </label>
                    <input asp-for="Servicio.FechaFinal" class="form-control"/>
                    <span asp-validation-for="Servicio.FechaFinal" class="text-danger"></span>

                </div>

               <div class="form-group">   @*  Clase CSS Para manejo de grupos *@
                    <label asp-for="Servicio.Estado" class="control-label">  </label>
                    <select asp-for="Servicio.Estado" class="form-control"> 
                        <option value="">--Seleccione Estado--</option>
                        <option value="1">Activo</option>
                        <option value="2">Cerrado</option>
                        <option value="3">Con Cupo</option>
                        <option value="4">Sin Cupo</option>
                        
                    </select>
                </div> 

                <div class="form-group">   @*  Clase CSS Para manejo de grupos *@
                    <input type="submit" value="Crear" class="btn btn-success" />

                </div>

            </form>

        </div>
    </div>
    <div>
        <a asp-page="Index">Regresar a Servicios</a>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

